Source: fluxgui
Section: utils
Priority: optional
Maintainer: Kilian Valkhof <kilian@kilianvalkhof.com>
Build-Depends: debhelper (>=7), python-support (>=0.8.7) | dh-python, python3-all,
 libglib2.0-bin
X-Python3-Version: >=3.0
Standards-Version: 3.8.0
Homepage: http://www.stereopsis.com/flux/

Package: fluxgui
Architecture: all
Multi-Arch: foreign
Depends: ${xflux:Depends}, ${misc:Depends}, ${python3:Depends}, wget, ca-certificates,
 python3-pexpect, gir1.2-ayatanaappindicator3-0.1, python3-gi, python3-xdg, redshift
Description: f.lux indicator applet is an indicator applet to control xflux, an
 application that makes the color of your computer's display adapt to the time
 of day, warm at nights and like sunlight during the day

