[Desktop Entry]
Name=f.lux indicator applet
Comment=Better lightning...for your computer
Terminal=false
Icon=fluxgui
Exec=fluxgui
Type=Application
Categories=Utility;

