[Desktop Entry]
Name=f.lux indicator applet
Comment=Better lightning...for your computer
Terminal=false
Icon=fluxgui
Type=Application
Exec=fluxgui
Categories=GNOME;GTK;Accessories;
StartupNotify=true

